@media(min-width: 678px){
	.container {
		width: 90%;
	}
	.col-sm-1 {width: 8.33%}
	.col-sm-2 {width: 16.66%}
	.col-sm-3 {width: 25%}
	.col-sm-4 {width: 33.33%}
	.col-sm-5 {width: 41.66%}
	.col-sm-6 {width: 50%}
	.col-sm-7 {width: 58.33%}
	.col-sm-8 {width: 66.66%}
	.col-sm-9 {width: 75%}
	.col-sm-10 {width: 83.33%}
	.col-sm-11 {width: 91.66%}
	.col-sm-12 {width: 100%}
}
@media(min-width: 920px){
	.container {
		width: 85%;
	}
	.col-md-1 {width: 8.33%}
	.col-md-2 {width: 16.66%}
	.col-md-3 {width: 25%}
	.col-md-4 {width: 33.33%}
	.col-md-5 {width: 41.66%}
	.col-md-6 {width: 50%}
	.col-md-7 {width: 58.33%}
	.col-md-8 {width: 66.66%}
	.col-md-9 {width: 75%}
	.col-md-10 {width: 83.33%}
	.col-md-11 {width: 91.66%}
	.col-md-12 {width: 100%}
}
@media(min-width: 1200px){
	.container {
		width: 80%;
	}
	.col-lg-1 {width: 8.33%}
	.col-lg-2 {width: 16.66%}
	.col-lg-3 {width: 25%}
	.col-lg-4 {width: 33.33%}
	.col-lg-5 {width: 41.66%}
	.col-lg-6 {width: 50%}
	.col-lg-7 {width: 58.33%}
	.col-lg-8 {width: 66.66%}
	.col-lg-9 {width: 75%}
	.col-lg-10 {width: 83.33%}
	.col-lg-11 {width: 91.66%}
	.col-lg-12 {width: 100%}
}

@media(max-width: 678px){
	#header .floating .menu-bar {
		display: block;
	}
	.menu {
		position: absolute;
		top: 70px;
		left: -100%;
		width: calc(100% - 30px);
		background-color: #4130bd;
		border-radius: 5px;
		padding: 10px;
		transition: 0.3s ease-out;
	}
	.menu.on {
		left: 15px;
	}
	#header .floating .menu .menu-item {
		display: block;
		color: #fff;
		padding: 5px;
		margin: 2px 0;
	}
	#header .floating .menu .menu-item:hover {
		color: #fff;
		background-color: rgba(255,255,255,0.2);
	}
	#header .floating .menu .menu-item.active {
		border-left: 2px solid #fff;
		color: #fff;
		background-color: rgba(255,255,255,0.2);
	}
	#footer .copyright {
		text-align: center;
		flex-direction: column-reverse;
	}
	#footer .copyright a{
		margin-bottom: 10px;
	}
}
@media(max-width: 953px){
	#banner {
		padding: 200px 0;
	}
	#banner .flex {
		flex-direction: column-reverse;
	}
	#banner .text {
		margin: auto;
		text-align: center;
	}
	#banner .me {
		display: inline-block;
		width: 150px;
		height: 150px;
		object-fit: cover;
		object-position: top;
		border-radius: 50%;
		transform: translate(0,0);
	} 
}